.password-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.password-modal {
  background: white;
  border-radius: 18px;
  width: 420px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  animation: fadeIn 0.2s ease-in;
}

.password-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  border-bottom: 1px solid #eee;
}

.password-modal-header h2 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.password-modal-body {
  padding: 20px 24px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
 width: 86%;
    padding: 12px 33px 16px 12px;
    border: 1.5px solid #e5e5e5;
    border-radius: 12px;
    font-size: 15px;
    outline: none;
}

.eye-icon {
  position: absolute;
    right: 20px;
    top: 16px;
    cursor: pointer;
    color: #555;
}

.password-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 18px 24px;
  border-top: 1px solid #eee;
}

.cancel-btn-updatepassword {
  background: #ffe6e6;
  border: none;
  color: #d33;
  padding: 10px 24px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.submit-btn-updatepassword {
  background: #3a8451;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.api-message {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}

.api-message.success {
  background-color: #d4edda;
  color: #155724;
}

.api-message.error {
  background-color: #f8d7da;
  color: #721c24;
}
